Options -Indexes
DirectoryIndex index.php

RewriteEngine on
#RewriteCond %{HTTP_HOST} ^ippukuberkeley\.com$ [NC]
#RewriteRule ^(.*)$ http://www.ippukuberkeley.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /new/index.php/$1 [L]


