body {
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    background-color:#000000;
    line-height:200%; 
}
h2, h3, h4 {
    margin: 0 0 10px;
}
.content{
    background-color:#111; 
    background:rgba(0,0,0,0.70); 
    color:#fff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#992E292A,endColorStr=#992E292A);
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#992E292A,endColorStr=#992E292A);
zoom: 1;

} 
#logo-navi{ 
    position:absolute; 
    z-index:100;
    top:30px; 
    left:90px; 
    width:240px; 
    text-align:left; 
}
.stamp{ 
    float: right; 
    margin: 15px 30px 0 0;
}
p.navi { 
    padding:0 15px 10px; 
}
p.navi a{ 
    color:#fff; 
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    text-shadow: #000 0px 1px 0px; 
    line-height:200%; 
    padding: 5px 10px; 
    margin: 0px 5px; 
    text-align:center; 
    font-size:12pt; 
    text-decoration:none; 
    outline: none; 
    color:#ddd; 
    background:#222; 
    border-top:1px solid #333; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
    -moz-box-shadow: 0px 1px 1px #000; 
    -webkit-box-shadow: 0px 1px 1px #000; 
    box-shadow: 0px 1px 1px #000; 
}
        
p.navi a:hover { 
    background-color:#94989C; 
    border-color:#B3B4B5; 
    color:#fff; 
}

div#lang { 
    position:absolute; 
    top:0px; 
    right:100px; 
    width:170px; 
    padding:10px 10px 5px; 
    text-align: center;
}
div#lang a { 
    margin: 0px 15px;
    text-align:center; 
    font:10pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    text-decoration:none; 
    outline: none; 
    color:#ADACAC;
    cursor: pointer;
}
div#lang a:hover {
    color: #FFF; 
}
div#lang a.active{
    color: #FA9420; 
}
h3{ 
    padding:10px 20px 10px 20px; 
    margin: 0px 0px 20px 0px;
}

/* the overlayed element */
div#overlay {
    /* must be initially hidden */
    display:none;
/*
    background-image:url(../img/transparent.png);
*/
    width: 550px;
    padding: 35px 0px 15px;
    /* place overlay on top of other elements 
    z-index:10;
    */
    /* CSS3 styling for latest browsers
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;  
    */
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
}
div#overlay div#wrap {
    width: 515px;
    padding: 0px 15px;
    max-height:527px;
    overflow-y:auto;
}
div#overlay p{
    margin: 0 0 15px;
}
div#overlay p#map-link{
    margin: 0 0 5px ! important;
    text-align: right;
}
p#map-link a{
    color: #FFFFFF; 
}
/* close button positioned on upper right corner */
div#overlay .close {
    background-image:url(../img/close11.png);
    position:absolute;
/*
    right:-15px;
    top:-15px;
*/
    right:4px;
    top:4px;
    cursor:pointer;
    height:25px;
    width:25px;
}

div#flash-wrap {
    width: 100%;
    height: 100%;
    background:#000000;
    z-index:99;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
div#flash-wrap p {
    width: 900px;
    margin: 0 auto;
    padding: 10px 50px;
    text-align:right;
}
div#flash-wrap a {
    color:#FFFFFF;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    font-weight: bold;
    text-decoration: none;
}
div#flash {
    width: 1000px;
    height: 563px;
    margin: 37px auto 0;
}
div#nojs-msg {
    width: 100%;
    position: absolute;
    z-index:101;
    top:317px;
    padding:4px 0; 
    text-align: center;
    background-color: orange;
    color: #FFFFFF;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    font-weight: bold;
}
div#dev-info {
    color: #FFFFFF;
}
