.content{ 
    color:#FFF;
    background:transparent; 
    /*AARRGGBB, 99=HEX(.6*255) */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#992E292A,endColorStr=#992E292A);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#992E292A,endColorStr=#992E292A);
    zoom: 1;
}


