body {
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    background-color:#000000;
    line-height:200%; 
}
.content{
    background-color:#111; 
    background:rgba(0,0,0,0.70); 
    color:#fff;
} 
h3 {
    margin-bottom: 15px;
}
/*** Logo ***/
h1#logo{ 
    position:absolute; 
    z-index:100;
    top:30px; 
    left:90px; 
    width:200px; 
    padding: 0 10px 30px 30px; 
    margin: 0 auto;
    -webkit-border-top-left-radius: 80px;
    -webkit-border-top-right-radius: 80px;
    -moz-border-radius-topleft: 80px;
    -moz-border-radius-topright: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

/*** Navigation menu ***/
div#navi{ 
    position:absolute; 
    top:350px; 
    left:90px; 
    width:240px; 
    -webkit-border-bottom-left-radius: 80px;
    -webkit-border-bottom-right-radius: 80px;
    -moz-border-radius-bottomleft: 80px;
    -moz-border-radius-bottomright: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding:0 0 20px 0; 
}
div#navi h2 { 
    padding:0 15px 10px 15px; 
    overflow:hidden;
}
div#navi a{ 
    background-image: url(../img/buttons2.png); 
    background-repeat: no-repeat; 
    text-indent: -9999px;
    font:15pt 'Butcherman', "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    text-decoration: none;

    display: block;
    padding: 0 0; 
    margin: 5px auto; 
    /*
    //Comment out until more navi item is added.
    margin: 5px 14px 5px 10px; 
    float: left;
    */
}

/**** Navigation menu items ****/

/* Yakitori hours */
div#navi a#tori_hour-en{ 
    background-position: 0px -22px;
    width: 130px; 
    height: 22px;
}
div#navi a#tori_hour-en:hover{ 
    background-position: 0px 0px;
}
div#navi a#tori_hour-en.active{ 
    background-position: 0px -44px;
}
div#navi a#tori_hour-ja{ 
    background-position: -542px -22px;
    width: 143px; 
    height: 22px;
}
div#navi a#tori_hour-ja:hover{ 
    background-position: -542px 0px;
}
div#navi a#tori_hour-ja.active{ 
    background-position: -542px -44px;
}
/* Teuchi Soba hours */
div#navi a#soba_hour-en{ 
    background-position: -140px -22px;
    width: 169px; 
    height: 22px;
}
div#navi a#soba_hour-en:hover{ 
    background-position: -140px 0px;
}
div#navi a#soba_hour-en.active{ 
    background-position: -140px -44px;
}
div#navi a#soba_hour-ja{ 
    background-position: -692px -22px;
    width: 187px; 
    height: 22px;
}
div#navi a#soba_hour-ja:hover{ 
    background-position: -692px 0px;
}
div#navi a#soba_hour-ja.active{ 
    background-position: -692px -44px;
}

/* Reservations */
div#navi a#rsvn-en{ 
    background-position: -324px -22px;
    width: 109px; 
    height: 22px;
}
div#navi a#rsvn-en:hover{ 
    background-position: -324px 0px;
}
div#navi a#rsvn-en.active{ 
    background-position: -324px -44px;
}
div#navi a#rsvn-ja{ 
    background-position: -896px -22px;
    width: 65px; 
    height: 22px;
}
div#navi a#rsvn-ja:hover{ 
    background-position: -896px 0px;
}
div#navi a#rsvn-ja.active{ 
    background-position: -896px -44px;
}

/* Directions */
div#navi a#dirc-en{ 
    background-position: -444px -22px;
    width: 82px; 
    height: 22px;
}
div#navi a#dirc-en:hover{ 
    background-position: -444px 0px;
}
div#navi a#dirc-en.active{ 
    background-position: -444px -44px;
}
div#navi a#dirc-ja{ 
    background-position: -975px -22px;
    width: 44px; 
    height: 22px;
}
div#navi a#dirc-ja:hover{ 
    background-position: -975px 0px;
}
div#navi a#dirc-ja.active{ 
    background-position: -975px -44px;
}

/* Menus */
/*
//Comment out until 'Menu' content is  fixed.
div#navi a#menu-en{ 
    background-position: -155px -22px;
    width: 50px; 
    height: 22px;
}
div#navi a#menu-en:hover{ 
    background-position: -155px 0px;
}
div#navi a#menu-en.active{ 
    background-position: -155px -44px;
}
div#navi a#menu-ja{ 
    background-position: -572px -22px;
    width: 66px; 
    height: 22px;
}
div#navi a#menu-ja:hover{ 
    background-position: -572px 0px;
}
div#navi a#menu-ja.active{ 
    background-position: -572px -44px;
}
*/

/* About */
/*
//Comment out until 'About' content is  fixed.
div#navi a#about-en{ 
    background-position: -330px -22px;
    width: 50px; 
    height: 22px;
}
div#navi a#about-en:hover{ 
    background-position: -330px 0px;
}
div#navi a#about-en.active{ 
    background-position: -330px -44px;
}
div#navi a#about-ja{ 
    background-position: -748px -22px;
    width: 132px; 
    height: 22px;
}
div#navi a#about-ja:hover{ 
    background-position: -748px 0px;
}
div#navi a#about-ja.active{ 
    background-position: -748px -44px;
}
*/
/* new icon */
div#navi img#new-en {
    position:relative;
    top: 62px;
    right: -205px;
}
div#navi img#new-ja {
    position:relative;
    top: 60px;
    right: -215px;
}

/*** Language bar ***/        
div#lang { 
    position:absolute; 
    top:0px; 
    right:100px; 
    width:170px; 
    padding:15px 10px 5px; 
    overflow: hidden;
    -webkit-border-bottom-left-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius-bottomleft: 60px;
    -moz-border-radius-bottomright: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
div#lang a { 
    background-image: url(../img/buttons2.png); 
    background-repeat: no-repeat; 
    display: block;
    margin: 0px 15px;

    text-indent: -9999px;
    text-align:center; 
    font:10pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    text-decoration:none; 
    outline: none; 
    color:#ADACAC;
    float: left;

    cursor: pointer;
}
div#lang a#ja{
    background-position: -1029px -22px;
    width: 55px;
    height: 22px;
}
div#lang a#ja:hover {
    background-position: -1029px 0px;
}
div#lang a#ja.active{
    background-position: -1029px -44px;
}
div#lang a#en{
    background-position: -1093px -22px;
    width: 45px;
    height: 22px;
}
div#lang a#en:hover {
    background-position: -1093px 0px;
}
div#lang a#en.active{
    background-position: -1093px -44px;
}


/** Overlayed element ***/
div#overlay {
    /* must be initially hidden */
    display:none;
    width: 550px;
    padding: 20px 0px 15px;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    overflow-y:auto;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
div#overlay div#wrap {
    width: 530px;
    padding: 0px 15px;
    max-height:550px;
    overflow-y:auto;
}
div#overlay div#wrap p{
    line-height: 140%; 
}
div#overlay p{
    margin: 0 0 5px;
}
div#overlay p#map-link{
    margin: 0 0 5px ! important;
    text-align: right;
}
p#map-link a{
    color: #FFFFFF; 
}
/***** close button positioned on upper right corner ****/
div#overlay .close {
    background-image:url(../img/close.png);
    background-position: 0px -25px;
    position:absolute;
    right:8px;
    top:8px;
    cursor:pointer;
    height:25px;
    width:25px;
}
div#overlay .close:hover {
    background-image:url(../img/close.png);
    background-position: 0px 0px;
    position:absolute;
    right:8px;
    top:8px;
    cursor:pointer;
    height:25px;
    width:25px;
}

/*** Flash intro elements ***/
div#flash-wrap {
    width: 100%;
    height: 100%;
    background-color:#000000;
    z-index:99;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
div#flash {
    background-color:#000000;
    width: 700px;
    height: 394px;
    margin: 37px auto 0;
}
div#flash-wrap p {
    width: 900px;
    margin: 0 auto;
    padding: 5px 50px;
}
div#flash-wrap a#enter {
    color:#FFFFFF;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    font-weight: bold;
    text-decoration: none;
    background-image: url(../img/enter-button.png); 
    background-repeat: no-repeat; 
    text-indent: -9999px;
    display:block;
    width: 150px;
    height: 32px;
    margin: 0 0 0 790px;
}
div#flash-wrap a#enter:hover {
    background-position: 0px -38px; 
}

/*** Controls section (overwrite ./supersized.css) ***/
/*
#controls-wrapper { 
    margin:0 auto; 
    height:62px; 
    width:100%; 
    bottom:0; 
    left:0; 
    z-index:4; 
    position:fixed; 
    background:none; 
} 
#navigation {
    padding: 10px 10px 10px;
    -webkit-border-top-left-radius: 60px;
    -webkit-border-top-right-radius: 60px;
    -moz-top-radius-bottomleft: 60px;
    -moz-top-radius-bottomright: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
#navigation a {
    display:inline-block;
    width: 35px;
}
#prevslide {
    background: url(../img/controls.png) no-repeat top left;
    background-position: -55px 0; width: 35px; height: 35px;
}
#prevslide:hover {
    background: url(../img/controls.png) no-repeat top left;
    background-position:  -110px 0; width: 35px; height: 35px;
}
#prevslide:active {
    background: url(../img/controls.png) no-repeat top left;
    background-position: 0 0; width: 35px; height: 35px;
}
#pauseplay {
    background: url(../img/controls.png) no-repeat top left;
    background-position:  -330px 0 ; width: 35px; height: 35px;
}
#pauseplay:hover {
    background: url(../img/controls.png) no-repeat top left;
    background-position:  -385px 0; width: 35px; height: 35px;
}
#pauseplay.play {
    background: url(../img/controls.png) no-repeat top left;
    background-position: -440px 0; width: 35px; height: 35px;
}
#pauseplay.play:hover {
    background: url(../img/controls.png) no-repeat top left;
    background-position: -495px 0; width: 35px; height: 35px;
}
#nextslide {
    background: url(../img/controls.png) no-repeat top left;
    background-position:  -220px 0; width: 35px; height: 35px; 
}
#nextslide:hover {
    background: url(../img/controls.png) no-repeat top left;
    background-position:  -275px 0; width: 35px; height: 35px;
}
#nextslide:active {
    background: url(../img/controls.png) no-repeat top left;
    background-position: -165px 0; width: 35px; height: 35px;
}
*/

#pauseplay {
    display: hidden;
}
#prevslide, #nextslide { 
    position:absolute; 
    height:43px; 
    width:43px;
    top:50%;
    margin-top:-21px;
    opacity:0.6;
}
#prevslide {
    left:10px;
    background:url('../img/back.png');
}
#nextslide {
    right:10px;
    background:url('../img/forward.png');
}
#prevslide:active, #nextslide:active { 
    margin-top:-19px;
}
#prevslide:hover, #nextslide:hover {
    cursor:pointer;
}


/*** Others ***/
div#nojs-msg{
    width: 100%;
    position: fixed;
    z-index:101;
    top:317px;
    padding:4px 0; 
    text-align: center;
    background-color: orange;
    color: #FFFFFF;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    font-weight: bold;
}
div#noflash-msg img{
    float: left;
    margin: 10px 10px;
}
div#noflash-msg{
    text-align: left;
    color: #FFFFFF;
    overflow: hidden;
    padding: 100px 200px;
    display: none;
}
div#dev-info {
    color: #FFFFFF;
}
