body {
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    background-color:#000000;
    line-height:200%; 
}
.content{
    background-color:#111; 
    background:rgba(0,0,0,0.70); 
    color:#fff;
} 

/*** Logo ***/
h3#logo{ 
    position:absolute; 
    z-index:100;
    top:30px; 
    left:90px; 
    width:200px; 
    padding: 0 10px 30px 30px; 
    margin: 0 auto;
    -webkit-border-top-left-radius: 80px;
    -webkit-border-top-right-radius: 80px;
    -moz-border-radius-topleft: 80px;
    -moz-border-radius-topright: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

/*** Navigation menu ***/
div#navi{ 
    position:absolute; 
    top:350px; 
    left:90px; 
    width:240px; 
    -webkit-border-bottom-left-radius: 80px;
    -webkit-border-bottom-right-radius: 80px;
    -moz-border-radius-bottomleft: 80px;
    -moz-border-radius-bottomright: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding:0 0 20px 0; 
}
div#navi p { 
    padding:0 5px 10px 25px; 
    overflow:hidden;
}
div#navi a{ 
    background-image: url(../img/buttons.png); 
    background-repeat: no-repeat; 
    text-indent: -9999px;
    display: block;
    float: left;
    padding: 0 0; 
    margin: 5px 14px 5px 10px; 
}

/**** Navigation menu items ****/
div#navi a#hour-en{ 
    background-position: 0px -22px;
    width: 50px; 
    height: 22px;
}
div#navi a#hour-en:hover{ 
    background-position: 0px 0px;
}
div#navi a#hour-en.active{ 
    background-position: 0px -44px;
}
div#navi a#hour-ja{ 
    background-position: -396px -22px;
    width: 88px; 
    height: 22px;
}
div#navi a#hour-ja:hover{ 
    background-position: -396px 0px;
}
div#navi a#hour-ja.active{ 
    background-position: -396px -44px;
}

div#navi a#dirc-en{ 
    background-position: -65px -22px;
    width: 82px; 
    height: 22px;
}
div#navi a#dirc-en:hover{ 
    background-position: -65px 0px;
}
div#navi a#dirc-en.active{ 
    background-position: -65px -44px;
}
div#navi a#dirc-ja{ 
    background-position: -506px -22px;
    width: 44px; 
    height: 22px;
}
div#navi a#dirc-ja:hover{ 
    background-position: -506px 0px;
}
div#navi a#dirc-ja.active{ 
    background-position: -506px -44px;
}

div#navi a#menu-en{ 
    background-position: -155px -22px;
    width: 50px; 
    height: 22px;
}
div#navi a#menu-en:hover{ 
    background-position: -155px 0px;
}
div#navi a#menu-en.active{ 
    background-position: -155px -44px;
}
div#navi a#menu-ja{ 
    background-position: -572px -22px;
    width: 66px; 
    height: 22px;
}
div#navi a#menu-ja:hover{ 
    background-position: -572px 0px;
}
div#navi a#menu-ja.active{ 
    background-position: -572px -44px;
}

div#navi a#rsvn-en{ 
    background-position: -220px -22px;
    width: 108px; 
    height: 22px;
}
div#navi a#rsvn-en:hover{ 
    background-position: -220px 0px;
}
div#navi a#rsvn-en.active{ 
    background-position: -220px -44px;
}
div#navi a#rsvn-ja{ 
    background-position: -660px -22px;
    width: 66px; 
    height: 22px;
}
div#navi a#rsvn-ja:hover{ 
    background-position: -660px 0px;
}
div#navi a#rsvn-ja.active{ 
    background-position: -660px -44px;
}

div#navi a#about-en{ 
    background-position: -330px -22px;
    width: 50px; 
    height: 22px;
}
div#navi a#about-en:hover{ 
    background-position: -330px 0px;
}
div#navi a#about-en.active{ 
    background-position: -330px -44px;
}
div#navi a#about-ja{ 
    background-position: -748px -22px;
    width: 132px; 
    height: 22px;
}
div#navi a#about-ja:hover{ 
    background-position: -748px 0px;
}
div#navi a#about-ja.active{ 
    background-position: -748px -44px;
}

/*** Language bar ***/        
div#lang { 
    position:absolute; 
    top:0px; 
    right:100px; 
    width:170px; 
    padding:15px 10px 5px; 
    overflow: hidden;
    -webkit-border-bottom-left-radius: 60px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius-bottomleft: 60px;
    -moz-border-radius-bottomright: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
div#lang a { 
    background-image: url(../img/buttons.png); 
    background-repeat: no-repeat; 
    display: block;
    margin: 0px 15px;

    text-indent: -9999px;
    text-align:center; 
    font:10pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    text-decoration:none; 
    outline: none; 
    color:#ADACAC;
    float: left;

    cursor: pointer;
}
div#lang a#ja{
    background-position: -880px -22px;
    width: 60px;
    height: 22px;
}
div#lang a#ja:hover {
    background-position: -880px 0px;
}
div#lang a#ja.active{
    background-position: -880px -44px;
}
div#lang a#en{
    background-position: -944px -22px;
    width: 50px;
    height: 22px;
}
div#lang a#en:hover {
    background-position: -944px 0px;
}
div#lang a#en.active{
    background-position: -944px -44px;
}


/** Overlayed element ***/
div#overlay {
    /* must be initially hidden */
    display:none;
    width: 550px;
    padding: 35px 0px 15px;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    overflow-y:auto;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
div#overlay div#wrap {
    width: 515px;
    padding: 0px 15px;
    max-height:550px;
    overflow-y:auto;
}
div#overlay p{
    margin: 0 0 15px;
}
div#overlay p#map-link{
    margin: 0 0 5px ! important;
    text-align: right;
}
p#map-link a{
    color: #FFFFFF; 
}
/***** close button positioned on upper right corner ****/
div#overlay .close {
    background-image:url(../img/close.png);
    background-position: 0px -25px;
    position:absolute;
    right:8px;
    top:8px;
    cursor:pointer;
    height:25px;
    width:25px;
}
div#overlay .close:hover {
    background-image:url(../img/close.png);
    background-position: 0px 0px;
    position:absolute;
    right:8px;
    top:8px;
    cursor:pointer;
    height:25px;
    width:25px;
}

/*** Flash intro elements ***/
div#flash-wrap {
    width: 100%;
    height: 100%;
    background-color:#000000;
    z-index:99;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
div#flash {
    background-color:#000000;
    width: 900px;
    height: 507px;
    margin: 37px auto 0;
}
div#flash-wrap p {
    width: 900px;
    margin: 0 auto;
    padding: 5px 50px;
}
div#flash-wrap a#enter {
    color:#FFFFFF;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    font-weight: bold;
    text-decoration: none;
    background-image: url(../img/enter-button.png); 
    background-repeat: no-repeat; 
    text-indent: -9999px;
    display:block;
    width: 150px;
    height: 32px;
    margin: 0 0 0 790px;
}
div#flash-wrap a#enter:hover {
    background-position: 0px -38px; 
}

/*** Controls section (overwrite ./supersized.css) ***/
#controls-wrapper { 
    margin:0 auto; 
    height:62px; 
    width:100%; 
    bottom:0; 
    left:0; 
    z-index:4; 
    position:fixed; 
    background:none; 
} 

/*** Others ***/
div#nojs-msg{
    width: 100%;
    position: fixed;
    z-index:101;
    top:317px;
    padding:4px 0; 
    text-align: center;
    background-color: orange;
    color: #FFFFFF;
    font:11pt "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    font-weight: bold;
}
div#noflash-msg img{
    float: left;
    margin: 10px 10px;
}
div#noflash-msg{
    text-align: left;
    color: #FFFFFF;
    overflow: hidden;
    padding: 100px 200px;
    display: none;
}
div#dev-info {
    color: #FFFFFF;
}
